html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
}
#game-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* Button styles */
.btn {
  margin: 10px;
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
  border-radius: 2px;
  outline: none;
}
.btn:hover {
  background-color: rgb(119, 174, 10);
}
.btn:active {
  background-color: rgb(95, 139, 8);
}

/* Card styles */
.red {
  color: red;
}
.big {
  font-size: 34px;
  text-align: center;
}
.tiny {
  font-size: 14px;
  vertical-align: top;
  text-align: left;
}
.card {
  display: inline-block;
  margin: 15px;
  padding: 15px;
  height: 120px;
  width: 90px;
  background-color: rgb(224, 224, 224);
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 5px 10px rgb(113, 110, 110);
}
.hidden {
  display: inline-block;
  margin: 15px;
  padding: 15px;
  height: 120px;
  width: 90px;
  background-color: rgb(72, 12, 12);
  color: rgb(72, 12, 12);
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 5px 10px rgb(113, 110, 110);
}
/* Dashboard style */
.dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.message {
  margin-top: 25px;
  padding: 15px;
  font-size: 24px;
}
